.blog-navv{
    border-right: 1px solid #fff;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 23vw;
    position: sticky; /* Make it sticky */
    top: 2rem; /* Stick 2rem from top when scrolling */
    max-height: calc(100vh - 4rem); /* Limit height */
    padding-right: 1rem; /* Add padding for scrollbar */
}



.blog-logo{
    width: 90%;
    margin-bottom: 1rem;
}

.routeblog{
    color: #D0D2D1;
    font-family: 'Clash Display', sans-serif;
}

.blognav-p{
    font-size: 13px;
    text-align: start;
    font-size: 12px;
    line-height: 1.2rem;
    margin-top: 1rem;
    max-width: 98%;
}


.cion1{
    width: 1.5rem;
}


.cion3{
    width: 1.3rem;
}

.blog-icons{
    padding: 5% 0;

}

.line-rigt{
    height: 1px;
    width: 70%;
    margin-top: 1.5rem;
    background-color: #fff;
}

.blogsearch{
    margin-top: 1.5rem;
    width: 80%;
    border: 1px solid #fff;
    border-radius: 5rem;
    height: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

.blogsearch input{
    background: none;
    border: none;
    width: 90%;
}

.blog-cat{
    text-align: start;
    margin-top: 1.3rem;
}

.blog-cat h3{
    font-family: 'Clash Display', sans-serif;
    font-size: 15px;
     margin-bottom: 1rem;
     font-weight: 400;
}

.blog-cat p{
    font-size: 16px;
    margin-bottom: 1rem;
     color: #aaa9a9;
}


.blog-link{
    color: #aaa9a9;
}

.blog-cat span {
    color: #aaa9a9;
}


@media (max-width: 1090px) {
    .mobile-socials{
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: start;
       flex-wrap: wrap;
    }
}

@media (max-width: 670px){
    .blog-navv, .blog-nav{
        display: none;
    }
}