.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.3rem 1.2rem !important;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s ease-in-out;
  background-image: url('../assets/img/btn-norm.webp');
  background-position: center;
  background-size: 100% 100%; /* Stretch image to cover full button */
  background-repeat: no-repeat;
  width: auto;
  min-width: max-content; 
  height: 3rem;
  position: relative;
}

.btn:hover {
  background-image: url('../assets/img/btn-norm2.webp');
}

.bbtn-p {
  margin: 0;
  padding: 0 1rem; /* Ensures spacing inside */
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10%;
}

.btn:active{
  background-image: url('../assets/img/btn-active.webp');
}

/* 🔹 Mobile responsive */
@media (max-width: 770px) {
  .btn {
    padding: 0.7rem 1.5rem;
    background-size: 100% 100%; /* stays adaptive */
  }

  .bbtn-p {
    font-size: 13px !important;
  }
}