.btn-arr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3rem 1.8rem !important;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s ease-in-out;
  gap: 7px !important;
  /* Background image settings */
  background-image: url('../assets/img/btn-norm.webp');
  background-position: center;
  background-size: 100% 100%; /* Stretch image to cover full button */
  background-repeat: no-repeat;
  position: relative;
  z-index: 5;
  /* Makes button grow with text */
  width: auto;
  min-width: max-content; 
  height: 0;
}

.btn-aarr:hover {
  background-image: url('../assets/img/btn-norm2.webp');
}

.btn-p {
  margin: 0;
  padding: 0 !important; /* Ensures spacing inside */
  text-align: center;
  font-size: 1rem;
  margin-bottom: 10% !important;
  font-family: cd-reg;
  /* line-height: 1.2; */
}

.btn-arrow{
  background-image: url('../assets/img/btn-arrow.webp');
  width: 1rem;
  height: 1rem;
  background-size: cover;
  background-size: cover;
  margin-bottom: 10%;
    transition: all 0.5s ease-in-out;
}

.btn-aarr:hover .btn-arrow{
  background-image: url('../assets/img/btn-arrow2.webp');
  width: 1.2rem;
}

.btn-aarr:active{
  background-image: url('../assets/img/btn-active.webp');
}

/* 🔹 Mobile responsive */
@media (max-width: 770px) {
  .btn-aarr{
    padding: 0.5rem 1.5rem !important;
    background-size: 100% 100%; /* stays adaptive */
  }

  .btn-p {
     font-size: 13px !important;
     margin-bottom: 13% !important;
  }

  .btn-arrow{
    width: 0.6rem;
    height: 0.6rem;
  }
}
