.card-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 1.7rem !important;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s ease-in-out;
  position: relative;
  /* Background image settings */
  background-image: url('../assets/img/btn-norm.webp');
  background-position: center;
  background-size: 100% 100%; /* Stretch image to cover full button */
  background-repeat: no-repeat;

  /* Makes button grow with text */
  width: auto;
  min-width: max-content; 
  height: 3rem;
}

.card-btn:hover {
  background-image: url('../assets/img/btn-norm2.webp');
}

.btn-p {
  margin: 0;
  padding: 0 1rem; /* Ensures spacing inside */
  text-align: center;
  font-size: 12px;
  margin-bottom: 10%;
  /* line-height: 1.2; */
}

.card-btn:active{
  background-image: url('../assets/img/btn-active.webp');
}

/* 🔹 Mobile responsive */
@media (max-width: 770px) {
  .card-btn {
    padding: 0.7rem 1.5rem;
    background-size: 100% 100%; /* stays adaptive */
  }

  .btn-p {
    font-size: 14px;
  }
}
